:root {
  --primary-color: #38707d;
  --secondary-color: #4a5b0b;
  --accent1-color: #566b1c;
  --accent2-color: #72a4a8;
  --accent3-color: #d9e0ea;
  --heading-text: Roboto Slab;
  --paragraph-text: Roboto;
}

*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  position: relative;
  box-sizing: border-box;
  margin: 0;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: max-content;
  width: 100%;
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  align-items: center;
  padding: 1.6rem 4rem;
  background-color: #d9e0eabb;
}

header > div.logo-wrapper > img {
  height: auto;
  width: 10rem;
}

header nav {
  display: flex;
  justify-content: space-around;
  grid-column: 2 / span 2;
}

header > nav > a {
  text-decoration: none;
  font-size: 2rem;
}

div.hero {
  position: relative;
  height: 80rem;
  width: auto;
}

div.hero img {
  display: block;
  height: 100%;
  width: 100%;
}

div.hero > h1 {
  position: absolute;
  width: 100%;
  top: 11rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 3rem;
  background-color: #333333aa;
  text-align: center;
  font-family: var(--heading-text);
  font-size: 5rem;
  font-weight: 200;
  color: var(--accent3-color);
}

div.hero > div.cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333333aa;
  padding: 2.5rem;
  text-align: center;
  font-family: var(--heading-text);
  font-size: 2rem;
}

div.hero > div.cta > h2 {
  font-size: 3rem;
  color: var(--accent3-color);
  margin-bottom: 2rem;
}

div.hero > div.cta > a.button {
  background-color: var(--accent1-color);
  color: var(--accent3-color);
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

div.hero > article {
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #33333388;
  padding: 2.5rem;

  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-between;
  align-items: center;
}

div.hero > article > img {
  height: auto;
  width: 25rem;
  margin: 0 0 0 2.5rem;
}

div.hero > article > h4 {
  font-size: 2rem;
  color: #fefefe;
}

section.offerings {
  position: relative;
  height: max-content;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 21.75% 1fr;
  grid-template-rows: 1fr;
  gap: 0 10rem;
  padding: 15rem 0;
}

section.offerings > article.offerings_card {
  position: relative;
  height: auto;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--accent3-color);
  border-radius: 1.5rem;

  font-size: 3rem;
  color: var(--accent1-color);
}

section.offerings > article.offerings_card.one {
  grid-column: 1;
  grid-row: 1;
  justify-self: end;
}
section.offerings > article.offerings_card.two {
  grid-column: 2;
  grid-row: 1;
}

section.offerings > article.offerings_card.one > img,
section.offerings > article.offerings_card.two > img,
section.offerings > article.offerings_card.three > img {
  height: 25rem;
  width: auto;
  margin: 0 0 2rem;
}

section.offerings > article.offerings_card.three {
  grid-column: 3;
  grid-row: 1;
  justify-self: start;
}

section.subscription {
  position: relative;
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  background-color: var(--accent2-color);
}

section.subscription > img {
  position: relative;
  height: auto;
  width: 80rem;
  margin: 0 0 2rem;
  border-radius: 1.5rem;
}

section.subscription > div.subscription_form-container {
  position: relative;
  height: max-content;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background-color: #4a5b0bcc;
  transform: translateX(-15rem);
  border-radius: 2rem;
}

section.subscription > div.subscription_form-container > h2 {
  font-family: var(--heading-text);
  font-size: 3rem;
  color: #d9e0ea88;
  margin: 2rem 0;
}

section.subscription > div.subscription_form-container > form {
  position: relative;
  height: max-content;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem 0;
  padding: 2rem;
  background-color: var(--accent3-color);
  border-radius: 1.5rem;
}

section.subscription > div.subscription_form-container > form > label {
  width: max-content;
  font-size: 1.6rem;
  color: var(--accent1-color);
  margin: 0;
  align-self: center;
  justify-self: center;
  margin-right: 1rem;
}

section.subscription > div.subscription_form-container > form > input {
  position: relative;
  height: max-content;
  width: 100%;
  font-size: 1.6rem;
  padding: 0.5rem;
  justify-self: start;
}

section.subscription > div.subscription_form-container > form > button {
  grid-column: 1 / -1;
  grid-row: 3 / span 1;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background-color: var(--accent1-color);
  height: 4rem;
  width: 40%;
  justify-self: center;
  align-self: center;

  border-radius: 1rem;
  font-size: 2rem;
  color: var(--accent3-color);
  cursor: pointer;
}

section.history-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.history-section > h2,
section.adventure-section > h2 {
  font-family: var(--heading-text);
  font-size: 4rem;
  color: var(--secondary-color);
  margin: 4rem 0;
}

section.history-section > div.history-section_flexbox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 3rem;
}

section.history-section > div.history-section_flexbox > p.history-section_flexbox_text {
  font-size: 1.6rem;
}

section.history-section > div.history-section_flexbox > img {
  position: relative;
  height: auto;
  width: 40rem;
  margin: 0 3rem;
}

section.adventure-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.adventure-section > section.adventure-section_heading {
  grid-column: 1 / -1;
  grid-row: 1;
}

section.adventure-section > div.adventure-section_grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
}

section.adventure-section > div.adventure-section_grid > figure.adventure-section_grid_figure {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 1rem;
}

section.adventure-section > div.adventure-section_grid > figure.adventure-section_grid_figure.figure-one {
  grid-column: 1;
  grid-row: 1;
}
section.adventure-section > div.adventure-section_grid > figure.adventure-section_grid_figure.figure-two {
  grid-column: 2;
  grid-row: 1;
}
section.adventure-section > div.adventure-section_grid > figure.adventure-section_grid_figure.figure-three {
  grid-column: 3;
  grid-row: 1;
}
section.adventure-section > div.adventure-section_grid > figure.adventure-section_grid_figure.figure-four {
  grid-column: 4;
  grid-row: 1;
}
section.adventure-section > div.adventure-section_grid > figure.adventure-section_grid_figure.figure-five {
  grid-column: 5;
  grid-row: 1;
}

section.adventure-section > div.adventure-section_grid > figure.adventure-section_grid_figure > img {
  position: relative;
  height: 80%;
  width: 100%;
  border-radius: 1.5rem;
}

section.adventure-section > div.adventure-section_grid > figure.adventure-section_grid_figure > figcaption {
  font-size: 1.6rem;
  color: var(--accent1-color);
  margin: 0.5rem 0;
}

section.company-information {
  position: relative;
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

section.company-information > h1.company-information_header {
  font-family: var(--heading-text);
  font-size: 4rem;
  color: var(--secondary-color);
  margin: 2rem 0;
}

section.company-information > p.company-information_address,
section.company-information > p.company-information_phone-number,
section.company-information > p.company-information_email {
  font-size: 1.6rem;
  color: var(--accent1-color);
  margin: 0.25rem 0;
}

section.company-information > p.company-information_email {
  margin-bottom: 2rem;
}

section.team-information {
  position: relative;
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  margin: 5rem 0;
}

section.team-information > h2.team-information_header {
  font-family: var(--heading-text);
  font-size: 3rem;
  color: var(--secondary-color);
  margin: 2rem 0;
}

section.team-information > div.team-information_employee-card-container {
  position: relative;
  height: max-content;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

section.team-information > div.team-information_employee-card-container > article.team-information_employee-card-container_card {
  position: relative;
  height: auto;
  width: max-content;
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--accent3-color);
  border-radius: 1.5rem;
}

section.team-information > div.team-information_employee-card-container > article.team-information_employee-card-container_card > img {
  height: 20rem;
  width: auto;
  border-radius: 1rem;
}

section.team-information > div.team-information_employee-card-container > article.team-information_employee-card-container_card > h3 {
  font-size: 1.6rem;
  color: var(--accent1-color);
  margin: 1rem 0 0 0;
}

section.contact-form-container {
  position: relative;
  height: max-content;
  width: 80%;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  margin: 5rem 0;
}

section.contact-form-container > h2.contact-form-container_header {
  font-family: var(--heading-text);
  font-size: 3rem;
  color: var(--secondary-color);
  margin: 2rem 0;
}

section.contact-form-container > form.contact-form-container_form {
  position: relative;
  height: 75rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr) 10% 5rem;
  gap: 0.5rem 0;
  padding: 2rem;
  background-color: var(--accent3-color);
  border-radius: 1.5rem;
}

section.contact-form-container > form.contact-form-container_form > fieldset {
  position: relative;
  height: max-content;
  width: 40%;
  justify-self: center;
  align-self: center;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 0;
  border: none;
  padding: 0 0 1rem 0;
}

section.contact-form-container > form.contact-form-container_form > fieldset.contact-form-container_form_contact-information {
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

section.contact-form-container > form.contact-form-container_form > fieldset.contact-form-container_form_contact-information > legend,
section.contact-form-container > form.contact-form-container_form > fieldset.contact-form-container_form_input-type > legend,
section.contact-form-container > form.contact-form-container_form > fieldset.contact-form-container_form_message > legend,
section.contact-form-container > form.contact-form-container_form > fieldset.contact-form-container_form_subscription > legend {
  font-size: 2.4rem;
  color: var(--accent1-color);
  margin: 0.5rem 0;
}

section.contact-form-container > form.contact-form-container_form > fieldset.contact-form-container_form_contact-information > label.full-name,
section.contact-form-container > form.contact-form-container_form > fieldset.contact-form-container_form_contact-information > label.email {
  justify-self: start;
}

section.contact-form-container > form.contact-form-container_form > fieldset.contact-form-container_form_contact-information > label.full-name {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

section.contact-form-container > form.contact-form-container_form > fieldset.contact-form-container_form_contact-information > label.email {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

section.contact-form-container > form.contact-form-container_form > fieldset.contact-form-container_form_contact-information > label,
section.contact-form-container > form.contact-form-container_form > fieldset.contact-form-container_form_input-type > label,
section.contact-form-container > form.contact-form-container_form > fieldset.contact-form-container_form_message > label,
section.contact-form-container > form.contact-form-container_form > fieldset.contact-form-container_form_subscription > label {
  font-size: 1.6rem;
  color: var(--accent1-color);
  margin: 0;
  height: max-content;
  width: max-content;
}

section.contact-form-container > form.contact-form-container_form > fieldset.contact-form-container_form_contact-information > input,
section.contact-form-container > form.contact-form-container_form > fieldset.contact-form-container_form_input-type > input,
section.contact-form-container > form.contact-form-container_form > fieldset.contact-form-container_form_message > input,
section.contact-form-container > form.contact-form-container_form > fieldset.contact-form-container_form_subscription > input {
  position: relative;
  height: max-content;
  width: 80%;
  font-size: 1.6rem;
  padding: 0.5rem;
  justify-self: start;
}

section.contact-form-container > form.contact-form-container_form > fieldset.contact-form-container_form_input-type {
  grid-column: 1 / -1;
  grid-row: 2 / span 1;
  grid-template-columns: 10% 1fr;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  padding: 1rem 0;
}

section.contact-form-container > form.contact-form-container_form > fieldset.contact-form-container_form_input-type > label {
  justify-self: start;
}

section.contact-form-container > form.contact-form-container_form > fieldset.contact-form-container_form_input-type > label.general-inquiry {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

section.contact-form-container > form.contact-form-container_form > fieldset.contact-form-container_form_input-type > label.reservation-question {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

section.contact-form-container > form.contact-form-container_form > fieldset.contact-form-container_form_input-type > label.website-suggestion {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

section.contact-form-container > form.contact-form-container_form > fieldset.contact-form-container_form_input-type > input[type="radio"] {
  position: relative;
  height: 1.6rem;
  width: 1.6rem;
  justify-self: end;
  align-self: center;
  margin: 0 1rem 0 0;
}

section.contact-form-container > form.contact-form-container_form > fieldset.contact-form-container_form_message {
  grid-column: 1 / -1;
  grid-row: 3 / span 1;
  grid-template-rows: 12.5% 1fr;
  gap: 1.5rem 0;
}

section.contact-form-container > form.contact-form-container_form > fieldset.contact-form-container_form_message > label.message {
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  font-size: 2.4rem;
  color: var(--accent1-color);
  margin: 0.5rem 0;
}

section.contact-form-container > form.contact-form-container_form > fieldset.contact-form-container_form_message > textarea {
  grid-column: 1 / -1;
  grid-row: 2 / span 1;
  height: 20rem;
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--accent1-color);
}

section.contact-form-container > form.contact-form-container_form > fieldset.contact-form-container_form_subscription {
  grid-column: 1 / -1;
  grid-row: 4 / span 1;
  grid-template-columns: 17.5% 1fr;
  grid-template-rows: 1fr;
  padding: 1rem 0;
}

section.contact-form-container > form.contact-form-container_form > fieldset.contact-form-container_form_subscription > label.subscription {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  justify-self: start;
  align-self: center;
}

section.contact-form-container > form.contact-form-container_form > fieldset.contact-form-container_form_subscription > input[type="checkbox"] {
  position: relative;
  height: 2rem;
  width: 2rem;
  justify-self: end;
  align-self: center;
  margin: 0 1rem 0 0;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}

section.contact-form-container > form.contact-form-container_form > button.contact-form-container_submit-button {
  grid-column: 1 / -1;
  grid-row: 5 / span 1;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background-color: var(--accent1-color);
  height: 4rem;
  width: 40%;
  justify-self: center;
  align-self: center;

  border-radius: 1rem;
  font-size: 2rem;
  color: var(--accent3-color);
  cursor: pointer;
}

section.featured-trips {
  position: relative;
  height: max-content;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 15rem 0 0;
}

section.featured-trips > h1 {
  font-family: var(--heading-text);
  font-size: 4rem;
  color: var(--secondary-color);
  margin: 2rem 0;
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: center;
}

section.featured-trips > section.featured-trips_card {
  position: relative;
  min-height: 50rem;
  height: max-content;
  width: 60rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 2rem;
  background-color: var(--accent3-color);
  border-radius: 1.5rem;
}

section.featured-trips > section.featured-trips_card > img {
  height: auto;
  width: 100%;
  margin: 0 0 2rem;
}

section.featured-trips > section.featured-trips_card > h2 {
  font-size: 2.4rem;
  color: var(--accent1-color);
  margin: 0.5rem 0;
}

section.featured-trips > section.featured-trips_card > p {
  font-size: 1.6rem;
  color: var(--accent1-color);
  margin: 0.5rem 0;
}

section.trip-table-container {
  position: relative;
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

section.trip-table-container > h2 {
  font-family: var(--heading-text);
  font-size: 3rem;
  color: var(--secondary-color);
  margin: 2rem 0;
}

section.trip-table-container > table {
  position: relative;
  height: max-content;
  width: 40%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, max-content);
  gap: 0.5rem 0;
  padding: 2rem;
  background-color: var(--accent3-color);
  border-radius: 1.5rem;
}

section.trip-table-container > table > thead {
  position: relative;
  height: max-content;
  width: 100%;
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-evenly;
}

section.trip-table-container > table > thead > tr {
  position: relative;
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  color: var(--accent1-color);
  padding: 0 0 1rem;
  border-bottom: 0.2rem solid var(--accent1-color);
}

section.trip-table-container > table > tbody {
  position: relative;
  height: max-content;
  width: 100%;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

section.trip-table-container > table > tbody > tr {
  position: relative;
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 1.6rem;
  color: var(--accent1-color);
}

section.trip-table-container > table > tbody > tr > td {
  position: relative;
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

footer {
  position: relative;
  height: max-content;
  width: 100%;
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  grid-template-rows: 1fr;
  padding: 2rem 0;
}

footer > p.copyright {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  font-size: 1.6rem;
  color: var(--accent2-color);
  margin: 0.5rem 0;
}

footer > nav.social-links {
  grid-column: 3;
  grid-row: 1;
  justify-self: center;
  align-self: center;

  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
}

footer > nav.social-links > a {
  display: inline-block;
  height: auto;
  width: 4rem;
}

footer > nav.social-links > a#wireframe {
  width: 10rem;
  margin-right: 1rem;
  font-size: 1.6rem;
}

footer > nav.social-links > a > img {
  height: auto;
  width: 100%;
}

footer > nav.social-links > a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--primary-color);
}
