:root {
  --dark-blue-color: darkblue;
}

nav {
  background-color: var(--dark-blue-color);
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

main {
  max-width: 840px;
}

h1 {
  color: var(--dark-blue-color);
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

p {
  padding: 0;
}

aside {
  width: 100%;
  margin: 1rem;
  border: 1px solid #00000022;
  padding: 1rem;
  background-color: #fefefe;
  color: #333;
  text-align: center;
}

aside img {
  height: auto;
  width: 200px;
}

footer {
  margin: 15px 0 0 0;
  border-top: 1px solid #000;
  text-align: center;
}
